<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  
</head>

<body>
	<nav>
        <h4>Node MySQL Setup</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>

	 <div class="container">
        <!-- Set HTTP method here in form tag -->
            <h2 class="title">Login</h2>
			<form action="/auth/login" method="POST"></form>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

			 <!-- I can't put them on the same line -->
			<div class="links">
				<a href="#">Forgot Password?</a>
				<p>Not a User? <a href="/signup">Sign Up</a> </p>
			</div>

			<a href="/"><button class="w-100 btn btn-lg btn-primary">Login</button></a>
            <p class="mt-5 mb-3 text-muted">© 2021</p>
        </form>
	</div>
    <!--outputing message from sign up  -->
    {{#if message}}
     <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>