* {
    font-family: "Roboto", sans-serif;
  }

.track{
    display: flex;
     margin: 2;
     margin-left: 5px;
     margin-top: 10px;
     align-items: center;
     cursor: pointer;
     font-size: 14px;
}

.title{
    margin-left: 10px;
    color: white;
}

.artist{
    margin-left: 10px;
    margin-top: 5px;
    color: rgb(175, 175, 175);
}