<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  
</head>

<body>
	<nav>
        <h4>Nitempo</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/node.png" class="avatar" alt="user profile picture">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{user.username}}</h5>
                        <p class="card-text">Lorem ipsum and some other stuff</p>
                        <a href="#" class="btn btn-primary">{{user.email}}</a>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hey {{user.username}}, welcome back</h5>
                        <p class="card-text">Profile bio can go here!!!</p>
                        <iframe src="https://open.spotify.com/embed/album/1nTvIQEXvygqSIqc2vuwAz" width="60%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </div>

                    <div class="card-footer text-muted">
                        Profile Test Page
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>